<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sanatçı Ekle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
</head>

<body>
    <form method="GET" action="http://localhost:4000/album" class="card container"
        style="margin-top:100px; padding:1%; background-color: rgb(159, 179, 216);">
        <div class="field">
            <label class="label">Album Adi</label>
            <div class="control">
                <input class="input" type="text" name="albumAd">
            </div>
        </div>
        <div class="field">
            <label class="label">Çıkış Tarihi</label>
            <div class="control">
                <input class="input" type="text" name="cikisTarih">
            </div>
        </div>

        <label class="label">Müzik Türü Seçin</label>
        <div class="select is-rounded" name ="muziktur">
            <select>
                <option></option>
                <option>Arabesk</option>
                <option>Blues</option>
                <option>Klasik Müzik</option>
                <option>Halk Müzikleri (Folk, Country, Etnik)</option>
                <option>Elektronik Müzik</option>
                <option>Hip-hop (Rap ve R&B dahil)</option>
                <option>Caz</option>
                <option>Pop</option>
                <option>Rock</option>
                <option>Çocuk Müzikleri</option>
                <option>Dini Müzik Türleri (New Age de dahil)</option>
            </select>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link" style="margin-left:1050px;">Bitir</a>
            </div>
        </div>
    </form>

</body>

</html>